

@{
    ViewBag.Title = "errouser";
}

<div class="jumbotron fundopretologin mt0">
    <h3 class="colorintro text-center">Erro ao Cadastrar Novo Usuário, Selecione a Permissão</h3>
</div>

<div class="form-actions no-color">
    @Html.ActionLink("Voltar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "", @class = "btn btn-default marginleft0" })
</div>